:root {
    --primary-color: #bae0fa;
    --secondary-color: #a84c17;
    --tertiary-color: #7d39cc;
}
* {
    margin: 0;
    padding: 0;
}
.body {
    color: var(--tertiary-color);
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: slategrey;
}
.header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/programming-1009134_1280.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}
.header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
.header a {
    text-decoration: none;
    color: var(--primary-color);
}
.header nav {
    margin: 7px 0;
}
.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}
.header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}
.footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}
.footer div {
    line-height: 1.5;
    text-align: right;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    padding: 60px;
}
.hero {
    background-image: url("../images/programming-1009134_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}
.hero h2 {
    text-align: center;
    color: white;
}
.image > img {
    align-items: center;
    width: 30%;
    height: 30%;
    transform: translateX(115%);
}
.intro {
    background-color: beige;
}
.intro h2 {
    font-size: 55px;
    color: var(--secondary-color);
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: var(--primary-color);
    display: inline-block;
}
.intro p {
    text-align: center;
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
.steps {
    background: var(--primary-color);
    display: grid;
}
.resume {
    background-color: slategray;
    display: grid;
    align-items: center;
}
.resume-text {
    text-align: center;
    font-size: 28px;
    color: black;
}
.resume-img {
    flex: 1 12%;
    margin-right: 20px;
}
.resume-img:hover {
    box-shadow: 10px 10px 5px grey;
}
.resume-img img {
    max-width: 100%;
}
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: var(--primary-color);
}
.secondary-border {
    border-color: var(--tertiary-color);
}
.step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}
.step-info {
    flex: 2 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img:hover {
    box-shadow: 10px 10px 5px grey;
}
.step-img img {
    max-width: 100%;
}
.step-text {
    flex: 12;
}
.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
}
.step, .step-1 {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--tertiary-color);
}
.step-1 {
    size: larger;
}
.contact {
    background: var(--secondary-color);
}
.contact h2 {
    color: var(--primary-color);
    border-bottom-color: var(--tertiary-color);
    font-size: 38px;
}
.contact p:hover {
    font-size: 20px;
}
.contact-info {
    display: flex;
    flex-wrap: wrap;
}
.contact-info > * {
    flex: 1;
    margin: 15px;
}
.contact-info div {
    color: white;
}
.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}
.contact-info p {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
.contact-info a {
    color: var(--primary-color);
}
.flex-row {
    display: flex;
}
@media screen and (max-width: 980px) {
    .header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    .header h1 {
        width: 100%;
        text-align: center;
    }

    .header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .header nav ul li a {
        font-size: 20px;
    }

    .footer h2, .footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}
@media screen and (max-width: 768px) {
    .section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}
@media screen and (max-width: 575px) {
    .hero-form button {
        width: 100%;
    }

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}